

#BaseBackground {
    background-color: purple; 

}

#WhiteParagraphBackground {
    background-color: white; 
    color: black; 
    text-align: center; 
}
 
.whiteBack {    
    background: white; 
    color: black; 

}

#Merch {
    background-color: purple; 

}

.grayCastle {      
    background-image: url("Photos/Gray_Castle.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    margin: 100px; 
}
.purpleLightning {
background-image: url("Photos/Lightning_Purple.jpg");
      background-repeat: no-repeat; 
      background-size: cover; 
} 