

#BaseBackground {
    background-color: purple; 

}

#WhiteParagraphBackground {
    background-color: white; 
    color: black; 
    text-align: center; 
}
 
.whiteBack {    
    background: white; 
    color: black; 

}

#Merch {
    background-color: purple; 

}

.grayCastle {      
    background-image: url("Photos/Gray_Castle.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    margin: 100px; 
}
.purpleLightning {
background-image: url("Photos/Lightning_Purple.jpg");
      background-repeat: no-repeat; 
      background-size: cover; 
} 

.gallery {
    width: 202px;
    height: 376px;
    background-color: silver;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gallery2 {
    width: 247px;
    height: 368px;
    background-color: silver;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gallery3 {
    width: 202px;
    height: 376px;
    background-color: silver;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gallery5 {
    width: 202px;
    height: 376px;
    background-color: silver;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gallery6 {
    width: 202px;
    height: 376px;
    background-color: silver;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gallery7 {
    width: 202px;
    height: 376px;
    background-color: silver;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gallery8 {
    width: 202px;
    height: 376px;
    background-color: silver;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#gallery-container {
    line-height: 0px;
}