

#BaseBackground {
    background-color: purple; 

}

#WhiteParagraphBackground {
    background-color: white; 
    color: black; 
    text-align: center; 
}
 
#WhiteText {
    color: white; 

}

#Merch {
    background-color: purple; 

}